@model IEnumerable<WebApp_Semus.Entities.Stock.StockProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Stock/_LayoutStock.cshtml";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="EstoqueID">@ViewBag.Stock.ID - @ViewBag.Stock.Description</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a asp-controller="Stock" asp-action="Details" asp-route-id="@ViewBag.Stock.ID" class="btn btn-sm btn-outline-secondary">&laquo; Voltar</a>

                @if (ViewBag.Stock.ID == 1)
                {
                    <a asp-action="Create" asp-route-type="@ViewBag.Type" class="btn btn-sm btn-outline-secondary">Cadastrar Produto</a>
                }

                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#ModalItensFalta">
                    Itens em Falta
                </button>
            </div>

            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    @if (ViewBag.Type == 1)
    {
        <h4 class="text-info">Medicamentos</h4>
    }
    else if (ViewBag.Type == 2)
    {
        <h4 class="text-danger">Suprimentos</h4>
    }

    <!-- section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">
                                <a asp-action="Index" asp-route-stockID="@ViewBag.Stock.ID" asp-route-type="@ViewBag.Type">Descrição</a>
                                @*<i class="fas fa-angle-double-@desc_down_up text-primary"></i>*@
                                @*@Html.ActionLink("Descrição", "Index", new { estoqueID = ViewBag.Stock.ID, TipoProduto = ViewBag.TipoProduto, sortOrder = ViewBag.DescricaoSortParm, currentFilter = ViewBag.CurrentFilter })*@
                            </th>
                            <th scope="col">
                                <a asp-action="Index" asp-route-stockID="@ViewBag.Stock.ID" asp-route-type="@ViewBag.Type">Categoria</a>
                                @*<i class="fas fa-angle-double-@categ_down_up text-primary"></i>*@
                                @*@Html.ActionLink("Categoria", "Index", new { estoqueID = ViewBag.Stock.ID, TipoProduto = ViewBag.TipoProduto, sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter })*@
                            </th>
                            <th scope="col"><i class="fas fa-info-circle"></i></th>
                            @if (ViewBag.Stock.ID == 1)
                            {
                                <th scope="col"><i class="fas fa-trash"></i></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string productInfo = item.ProductID + "-" +
                                            item.TotalQuantity + "-" +
                                            item.InputQuantity + "-" +
                                            item.DateInput + "-" +
                                            item.OutputQuantity;

                            if (item.DateOutput == DateTime.MinValue)
                            {
                                productInfo += "-Nenhuma Saída";
                            }
                            else
                            {
                                productInfo += "-" + item.DateOutput;
                            }

                            if (item.UserID == null)
                            {
                                productInfo += "-Não encontrado";
                            }
                            else
                            {
                                productInfo += "-" + item.IdentityUser.UserName;
                            }

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Product.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Product.Category)</td>
                                <td>
                                    <button name="@productInfo" type="button" class="btn btn-outline-primary detailsPro" data-toggle="modal" data-target="#ModalCenter">
                                        Visualizar Detalhes
                                    </button>
                                </td>
                                @if (item.StockID == 1)
                                {
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-danger">Apagar</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, estoqueID = ViewBag.Stock.ID, TipoProduto = ViewBag.TipoProduto, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
            </div>
        </div>
    </div>
</main>

<!-- Modal Itens em Falta -->
<div class="modal fade" id="ModalItensFalta" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCenterTitle">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        if (item.TotalQuantity == 0)
                        {
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">@item.Product.Description</h6>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalhes do Produto -->
<partial name="Partials/_ModalDetailsProduct.cshtml" />

<!-- Scripts -->
@section Scripts {
    <script src="~/js/SemusScripts/detailsModal.js"></script>
}
